@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Droid Serif';
  line-height: 2em;
  font-size: 15px;
} 

#poketron {
  padding: 20px;
}

#poketron-about {
  padding: 20px;
  min-height: calc(100vh - 200px); 
}

.accordion-body {
  text-align: left;
}

section{
/*  min-height: calc(100vh - 70px); */
  padding: 20px;
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: 400;
  margin-bottom: 0;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

#pokeList {
  background-color: aquamarine;

}

/* Pokémon List */
.pokemon-list {
  list-style-type: none;
}

.pokemon-button {
  background-color: #e7e7e7;
  border: 2px solid #e7e7e7;
  border-radius: 10px;
  color: black;
  padding: 16px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  max-width: 300px;
  text-transform: capitalize;
}

.pokemon-button:hover {
  border-color: limegreen;
  background-color: palegreen;
}
  
/* Modal Styling */
#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing:content-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;  /* displays modal in front of main content */
  overflow: auto; /* allows scrolling content exceeds the height */
  display: flex; /* centers the modal */
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  color: black;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  text-align: left;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border-color: green;
  border-radius: 10px;
}

.modal h1 {
  margin-top: 0;
  text-transform: capitalize;
}

.modal p {
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

/* Pokémon image styling */
.pokemon-image-details-container > img {
  margin-top: 40px;
  margin-left: 300px;
  height: 600px;
  display: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */



.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.footer {
  background-color: #D1C4E9;
  margin: 0px auto;
  padding: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  .pokemon-button {
    width: 100%;
  }
}

@media screen and (max-width: 996px) {
  .modal {
    max-width: 300px;
  }
  .pokemon-button {
    width: 100%;
  }
}

@media all and (max-width: 750px) {
  .modal {
    max-width: 270px;
  }
  .pokemon-button {
    width: 100%;
  }
}

