@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);



body {
  font-family: 'Droid Serif';
  line-height: 2em;
  font-size: 15px;
}
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: 400;
  margin-bottom: 0;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

/* Pokémon List */
.pokemon-list {
  list-style-type: none;
}

.pokemon-button {
  background-color: #e7e7e7;
  border: 2px solid #e7e7e7;
  border-radius: 10px;
  color: black;
  padding: 16px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 250px;
}

.pokemon-button:hover {
  border-color: limegreen;
  background-color: palegreen;
}

span {
    font-size: 1.2em;
    font-weight: bolder;
  }
  

