@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Droid Serif';
  line-height: 2em;
  font-size: 15px;
}


h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: 400;
  margin-bottom: 0;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

/* Pokémon List */
.pokemon-list {
  list-style-type: none;
}

.pokemon-button {
  background-color: #e7e7e7;
  border: 2px solid #e7e7e7;
  border-radius: 10px;
  color: black;
  padding: 16px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 250px;
  text-transform: capitalize;
}

.pokemon-button:hover {
  border-color: limegreen;
  background-color: palegreen;
}

span {
    font-size: 1.2em;
    font-weight: bolder;
  }
  
/* Modal Styling */
#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing:content-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;  /* displays modal in front of main content */
  overflow: auto; /* allows scrolling content exceeds the height */
  display: flex; /* centers the modal */
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  text-align: left;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border-color: green;
  border-radius: 10px;
}

.modal h1 {
  margin-top: 0;
  text-transform: capitalize;
}

.modal p {

  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

/* Pokémon image styling */
.pokemon-image-details-container > img {
  margin-top: 40px;
  margin-left: 300px;
  height: 600px;
  display: none;
}

@media screen and (max-width: 996px) {
  .modal {
    max-width: 300px;
  }
}

@media all and (max-width: 750px) {
  .modal {
    max-width: 270px;
  }
}

